.p-top {
    position: relative;
    z-index: 1;
    &1 {
        padding: 100px 0;
        background-color: #131722;
        .c-title {
            margin-top: 5px;
        }
        &__content {
            margin-top: 60px;
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    &2 {
        padding: 100px 0;
        background-color: #1c212e;

        &__content {
            margin-top: 60px;
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}
