<%- include('./inc/_header.ejs', {title:'PopCord | Home', isHide:null})%>
<div class="c-mainvisuals js-mainvisuals" data-anchor="1">
    <div class="c-mainvisuals__content u-fullheight">
        <!-- ▼ Slide Controller ▼ -->
        <div class="c-slide__controller">
            <div class="c-slide__prev"><i class="fas fa-angle-left"></i></div>
            <div class="c-slide__number">

            </div>
            <div class="c-slide__border">
            <span></span>
            </div>
            <p class="c-slide__total"></p>
            <div class="c-slide__next"><i class="fas fa-angle-right"></i></div>
        </div>
        <!-- ▲ Slide Controller ▲ -->
        <div class="c-slide">
            <div class="c-slide__item">
                <img class="c-slide__image" src="./assets/img/mainvisual/slide01.jpg" alt="">
                <div class="c-slide__info">
                    <div class="l-container">
                        <span class="c-slide__label">NEW RELEASES</span>
                        <h3 class="c-slide__title">The Rise Of Kingdoms</h3>
                        <div class="c-slide__cat">
                            <span>Romance, Action</span>
                        </div>
                        <p class="c-slide__description">
                            She can truly celebrate who shie is. Directed by Ryan Murphu 'The Mando' is the spectacular, big-hearted flim.
                        </p>
                        <div class="c-slide__actions">
                            <a href="#" class="c-btn c-btn--primary">PLAY TRAILER</a>
                            <a href="#" class="c-btn">PLAY FILM</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-slide__item">
                <img class="c-slide__image" src="./assets/img/mainvisual/slide02.jpg" alt="">
                <div class="c-slide__info">
                   <div class="l-container">
                        <span class="c-slide__label">NEW RELEASES</span>
                        <h3 class="c-slide__title">The Rise Of Football</h3>
                        <div class="c-slide__cat">
                            <span>Romance, Action</span>
                        </div>
                        <p class="c-slide__description">
                            She can truly celebrate who shie is. Directed by Ryan Murphu 'The Mando' is the spectacular, big-hearted flim.
                        </p>
                        <div class="c-slide__actions">
                            <a href="#" class="c-btn c-btn--primary">PLAY TRAILER</a>
                            <a href="#" class="c-btn">PLAY FILM</a>
                        </div>
                   </div>
                </div>
            </div>
            <div class="c-slide__item">
                <img class="c-slide__image" src="./assets/img/mainvisual/slide03.jpg" alt="">
                <div class="c-slide__info">
                    <div class="l-container">
                        <span class="c-slide__label">NEW RELEASES</span>
                        <h3 class="c-slide__title">The Rise Of Mandou</h3>
                        <div class="c-slide__cat">
                            <span>Romance, Action</span>
                        </div>
                        <p class="c-slide__description">
                            She can truly celebrate who shie is. Directed by Ryan Murphu 'The Mando' is the spectacular, big-hearted flim.
                        </p>
                        <div class="c-slide__actions">
                            <a href="#" class="c-btn c-btn--primary">PLAY TRAILER</a>
                            <a href="#" class="c-btn">PLAY FILM</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<main style="z-index: 1;" class="home">
   <div class="p-top">
       <section class="p-top1">
           <div class="l-container">
               <div class="p-top1__title ">
                   <h4 class="c-subtitle">Most watched movies by days</h4>
                   <h3 class="c-title">Popular Movies</h3>
               </div>
               <div class="p-top1__content row ">
                   <div class="c-item col-xs-12 col-md-6 col-lg-3">
                       <div class="gutter">
                           <img class="c-item__image" src="./assets/img/films/movies07.jpg" alt="">
                           <div class="c-item__content">
                                <div class="is-hover">
                                    <span class="c-item__label">Romance Action</span>
                                </div>
                                <p class="c-item__name">Thinking You</p>
                                <div class="u-flex u-a-center">
                                    <a href="single-movie.html" class="c-item__play">
                                        <i class="fas fa-play"></i>
                                    </a>
                                    <span class="c-item__chapter">
                                        SEASON 5 - 2020
                                    </span>
                                </div>
                           </div>
                       </div>
                   </div>
                   <div class="c-item col-xs-12 col-md-6 col-lg-3">
                        <div class="gutter">
                            <img class="c-item__image" src="./assets/img/films/movies02.jpg" alt="">
                            <div class="c-item__content">
                                <div class="is-hover">
                                    <span class="c-item__label">Romance Action</span>
                                </div>
                                <p class="c-item__name">Thinking You</p>
                                <div class="u-flex u-a-center">
                                    <a href="single-movie.html" class="c-item__play">
                                        <i class="fas fa-play"></i>
                                    </a>
                                    <span class="c-item__chapter">
                                        SEASON 5 - 2020
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-item col-xs-12 col-md-6 col-lg-3">
                        <div class="gutter">
                            <img class="c-item__image" src="./assets/img/films/movies03.jpg" alt="">
                            <div class="c-item__content">
                                <div class="is-hover">
                                    <span class="c-item__label">Romance Action</span>
                                </div>
                                <p class="c-item__name">Thinking You</p>
                                <div class="u-flex u-a-center">
                                    <a href="single-movie.html" class="c-item__play">
                                        <i class="fas fa-play"></i>
                                    </a>
                                    <span class="c-item__chapter">
                                        SEASON 5 - 2020
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-item col-xs-12 col-md-6 col-lg-3">
                        <div class="gutter">
                            <img class="c-item__image" src="./assets/img/films/movies04.jpg" alt="">
                            <div class="c-item__content">
                                <div class="is-hover">
                                    <span class="c-item__label">Romance Action</span>
                                </div>
                                <p class="c-item__name">Thinking You</p>
                                <div class="u-flex u-a-center">
                                    <a href="single-movie.html" class="c-item__play">
                                        <i class="fas fa-play"></i>
                                    </a>
                                    <span class="c-item__chapter">
                                        SEASON 5 - 2020
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div> 
               </div>
               <a href="#" class="c-btn c-btn--primary c-more">
                BROWSE ALL MOVIES
                </a>
           </div>
       </section>
        <section class="p-top2">
            <div class="l-container">
             
                <div class="p-top2__title ">
                    <h4 class="c-subtitle">Most watched movies by days</h4>
                    <h3 class="c-title">Newest Movies</h3>
                </div>
                <div class="p-top2__content row ">
                    <!-- <div class="c-item col-xs-12 col-md-6 col-lg-3">
                        <div class="gutter">
                            <img class="c-item__image" src="./assets/img/films/movies07.jpg" alt="">
                            <div class="c-item__content">
                                <div class="is-hover">
                                    <span class="c-item__label">Romance Action</span>
                                </div>
                                <p class="c-item__name">Thinking You</p>
                                <div class="u-flex u-a-center">
                                    <a href="single-movie.html" class="c-item__play">
                                        <i class="fas fa-play"></i>
                                    </a>
                                    <span class="c-item__chapter">
                                        SEASON 5 - 2020
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-item col-xs-12 col-md-6 col-lg-3">
                        <div class="gutter">
                            <img class="c-item__image" src="./assets/img/films/movies02.jpg" alt="">
                            <div class="c-item__content">
                                <div class="is-hover">
                                    <span class="c-item__label">Romance Action</span>
                                </div>
                                <p class="c-item__name">Thinking You</p>
                                <div class="u-flex u-a-center">
                                    <a href="single-movie.html" class="c-item__play">
                                        <i class="fas fa-play"></i>
                                    </a>
                                    <span class="c-item__chapter">
                                        SEASON 5 - 2020
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-item col-xs-12 col-md-6 col-lg-3">
                        <div class="gutter">
                            <img class="c-item__image" src="./assets/img/films/movies03.jpg" alt="">
                            <div class="c-item__content">
                                <div class="is-hover">
                                    <span class="c-item__label">Romance Action</span>
                                </div>
                                <p class="c-item__name">Thinking You</p>
                                <div class="u-flex u-a-center">
                                    <a href="single-movie.html" class="c-item__play">
                                        <i class="fas fa-play"></i>
                                    </a>
                                    <span class="c-item__chapter">
                                        SEASON 5 - 2020
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-item col-xs-12 col-md-6 col-lg-3">
                        <div class="gutter">
                            <img class="c-item__image" src="./assets/img/films/movies04.jpg" alt="">
                            <div class="c-item__content">
                                <div class="is-hover">
                                    <span class="c-item__label">Romance Action</span>
                                </div>
                                <p class="c-item__name">Thinking You</p>
                                <div class="u-flex u-a-center">
                                    <a href="single-movie.html" class="c-item__play">
                                        <i class="fas fa-play"></i>
                                    </a>
                                    <span class="c-item__chapter">
                                        SEASON 5 - 2020
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>  -->
                    <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="gutter">
                            <div class="c-item2__image">
                                <img src="./assets/img/films/movies02.jpg" alt="">
                                <div class="is-hover">
                                    <div class ="c-item2__hover u-flex u-a-center u-between">
                                        <div class="c-resolution">
                                            1080
                                            <span>HD</span>
                                        </div>
                                        <div class="c-rated">
                                            5.7
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-item2__info">
                                <span class="c-item2__minute">
                                    190 min,
                                </span>
                                <span class="c-item2__cat">
                                    Romance
                                </span>
                                <span class="c-item2__age">PG13</span>
                            </div>
                            <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                        </div>
                    </div>
                    <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="gutter">
                            <div class="c-item2__image">
                                <img src="./assets/img/films/movies03.jpg" alt="">
                                <div class="is-hover">
                                    <div class ="c-item2__hover u-flex u-a-center u-between">
                                        <div class="c-resolution">
                                            1080
                                            <span>HD</span>
                                        </div>
                                        <div class="c-rated">
                                            5.7
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-item2__info">
                                <span class="c-item2__minute">
                                    190 min,
                                </span>
                                <span class="c-item2__cat">
                                    Romance
                                </span>
                                <span class="c-item2__age">PG13</span>
                            </div>
                            <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                        </div>
                    </div>
                    <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="gutter">
                            <div class="c-item2__image">
                                <img src="./assets/img/films/movies04.jpg" alt="">
                                <div class="is-hover">
                                    <div class ="c-item2__hover u-flex u-a-center u-between">
                                        <div class="c-resolution">
                                            1080
                                            <span>HD</span>
                                        </div>
                                        <div class="c-rated">
                                            5.7
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-item2__info">
                                <span class="c-item2__minute">
                                    190 min,
                                </span>
                                <span class="c-item2__cat">
                                    Romance
                                </span>
                                <span class="c-item2__age">PG13</span>
                            </div>
                            <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                        </div>
                    </div>
                    <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="gutter">
                            <div class="c-item2__image">
                                <img src="./assets/img/films/movies03.jpg" alt="">
                                <div class="is-hover">
                                    <div class ="c-item2__hover u-flex u-a-center u-between">
                                        <div class="c-resolution">
                                            1080
                                            <span>HD</span>
                                        </div>
                                        <div class="c-rated">
                                            5.7
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-item2__info">
                             
                                <span class="c-item2__minute">
                                    190 min,
                                </span>
                                <span class="c-item2__cat">
                                    Romance
                                </span>
                                <span class="c-item2__age">PG13</span>
                            </div>
                            <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                        </div>
                    </div>
                    <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="gutter">
                            <div class="c-item2__image">
                                <img src="./assets/img/films/movies07.jpg" alt="">
                                <div class="is-hover">
                                    <div class ="c-item2__hover u-flex u-a-center u-between">
                                        <div class="c-resolution">
                                            1080
                                            <span>HD</span>
                                        </div>
                                        <div class="c-rated">
                                            5.7
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-item2__info">
                                <span class="c-item2__minute">
                                    190 min,
                                </span>
                                <span class="c-item2__cat">
                                    Romance
                                </span>
                                <span class="c-item2__age">PG13</span>
                            </div>
                            <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                        </div>
                    </div>
                    <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="gutter">
                            <div class="c-item2__image">
                                <img src="./assets/img/films/movies01.jpg" alt="">
                                <div class="is-hover">
                                    <div class ="c-item2__hover u-flex u-a-center u-between">
                                        <div class="c-resolution">
                                            1080
                                            <span>HD</span>
                                        </div>
                                        <div class="c-rated">
                                            5.7
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-item2__info">
                                <span class="c-item2__minute">
                                    190 min,
                                </span>
                                <span class="c-item2__cat">
                                    Romance
                                </span>
                                <span class="c-item2__age">PG13</span>
                            </div>
                            <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                        </div>
                    </div>
                </div>
                <a href="#" class="c-btn c-btn--primary c-more">
                    BROWSE ALL MOVIES
                </a>
            </div>
        </section>
    </div>
</main>
<%- include('./inc/_footer.ejs')%>