<%- include('./inc/_header.ejs', {title:'home'})%>
<main>
    <section class="section1 u-fullheight">
        <h3 class="u-fade u-t-center">Welcome</h3>
    </section>
    <section class="section1 u-fullheight">
        <h3 class="u-fade u-t-center">Fade</h3>
    </section>
</main>
<%- include('./inc/_footer.ejs')%>