<%- include('./inc/_header.ejs', {title:'PopCord | Home', isHide:'is-hide'})%>
<div class="c-mainvisuals js-mainvisuals" data-anchor="1">
    <div class="c-mainvisuals__content u-fullheight">
        <div class="p-video">
            <img src="./assets/img/mainvisual/slide01.jpg" alt="" class="p-video__bg">
            <div class="l-container">
                <div class="p-video__content">
                    <video src="https://themezinho.net/digiflex/videos/video02.mp4" controls></video>
                    <a href="index.html" class="c-btn c-btn--primary p-video__back">
                        <i class="fas fa-chevron-left"></i>Back
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<main class="movie">
    <div class="p-movie">
        <section class="p-movie1">
            <div class="l-container">
                <div class="p-movie1__content u-flex u-between">
                    <div class="p-movie1__info">
                        <h3 class="p-movie1__title">The Rise Of Kingdoms</h3>
                        <div class="p-movie1__cat">
                            <span>Romance, Action</span>
                        </div>
                        <p class="p-movie1__description">
                            She can truly celebrate who shie is. Directed by Ryan Murphu 'The Mando' is the spectacular, big-hearted flim.
                        </p>
                        <div class="p-movie1__actions u-flex u-a-center">
                            <a href="#" class="c-btn c-btn--primary">ADD YOUR FAVOR</a>
                            <div class="u-flex u-a-center">
                                <a href="#" class="c-icon c-like">
                                    <i class="far fa-thumbs-up"></i>
                                </a>
                                <a href="#" class="c-icon c-dislike">
                                    <i class="far fa-thumbs-down"></i>
                                </a>
                                <span>100% liked this film</span>
                            </div>
                        </div>
                    </div>
                    <div class="p-movie1__image">
                        <div class="gutter">
                            <img src="./assets/img/films/movies01.jpg" alt="">
                            <div class="p-movie1__item">
                                <span class="p-movie1__item--bold">
                                    Initial release:
                                </span>
                                <span>
                                    Dec 16, 2020
                                </span>
                            </div>
                            <div class="p-movie1__item">
                                <span class="p-movie1__item--bold">
                                    Director:
                                </span>
                                <span>
                                    SOTN
                                </span>
                            </div>
                            <div class="p-movie1__item">
                                <span class="p-movie1__item--bold">
                                    Production:
                                </span>
                                <span>
                                    SOTN
                                </span>
                            </div>
                            <div class="p-movie1__item">
                                <span class="p-movie1__item--bold">
                                    Screenplay:
                                </span>
                                <span>
                                    SOTN
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="p-movie2">

        </div>
        <section class="p-movie3">
            <div class="l-container">
                <div class="p-movie3__title ">
                    <h4 class="c-subtitle">Find anywhere else</h4>
                    <h3 class="c-title">Related Movies</h3>
                </div>
                <div class="p-movie3__slide">
                    <div class="p-movie3__content row">
                        <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="gutter">
                                <div class="c-item2__image">
                                    <img src="./assets/img/films/movies02.jpg" alt="">
                                    <div class="is-hover">
                                        <div class ="c-item2__hover u-flex u-a-center u-between">
                                            <div class="c-resolution">
                                                1080
                                                <span>HD</span>
                                            </div>
                                            <div class="c-rated">
                                                5.7
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-item2__info">
                                    <span class="c-item2__minute">
                                        190 min,
                                    </span>
                                    <span class="c-item2__cat">
                                        Romance
                                    </span>
                                    <span class="c-item2__age">PG13</span>
                                </div>
                                <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                            </div>
                        </div>
                        <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="gutter">
                                <div class="c-item2__image">
                                    <img src="./assets/img/films/movies03.jpg" alt="">
                                    <div class="is-hover">
                                        <div class ="c-item2__hover u-flex u-a-center u-between">
                                            <div class="c-resolution">
                                                1080
                                                <span>HD</span>
                                            </div>
                                            <div class="c-rated">
                                                5.7
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-item2__info">
                                    <span class="c-item2__minute">
                                        190 min,
                                    </span>
                                    <span class="c-item2__cat">
                                        Romance
                                    </span>
                                    <span class="c-item2__age">PG13</span>
                                </div>
                                <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                            </div>
                        </div>
                        <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="gutter">
                                <div class="c-item2__image">
                                    <img src="./assets/img/films/movies04.jpg" alt="">
                                    <div class="is-hover">
                                        <div class ="c-item2__hover u-flex u-a-center u-between">
                                            <div class="c-resolution">
                                                1080
                                                <span>HD</span>
                                            </div>
                                            <div class="c-rated">
                                                5.7
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-item2__info">
                                    <span class="c-item2__minute">
                                        190 min,
                                    </span>
                                    <span class="c-item2__cat">
                                        Romance
                                    </span>
                                    <span class="c-item2__age">PG13</span>
                                </div>
                                <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                            </div>
                        </div>
                        <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="gutter">
                                <div class="c-item2__image">
                                    <img src="./assets/img/films/movies02.jpg" alt="">
                                    <div class="is-hover">
                                        <div class ="c-item2__hover u-flex u-a-center u-between">
                                            <div class="c-resolution">
                                                1080
                                                <span>HD</span>
                                            </div>
                                            <div class="c-rated">
                                                5.7
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-item2__info">
                                 
                                    <span class="c-item2__minute">
                                        190 min,
                                    </span>
                                    <span class="c-item2__cat">
                                        Romance
                                    </span>
                                    <span class="c-item2__age">PG13</span>
                                </div>
                                <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                            </div>
                        </div>
                        <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="gutter">
                                <div class="c-item2__image">
                                    <img src="./assets/img/films/movies07.jpg" alt="">
                                    <div class="is-hover">
                                        <div class ="c-item2__hover u-flex u-a-center u-between">
                                            <div class="c-resolution">
                                                1080
                                                <span>HD</span>
                                            </div>
                                            <div class="c-rated">
                                                5.7
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-item2__info">
                                 
                                    <span class="c-item2__minute">
                                        190 min,
                                    </span>
                                    <span class="c-item2__cat">
                                        Romance
                                    </span>
                                    <span class="c-item2__age">PG13</span>
                                </div>
                                <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                            </div>
                        </div>
                        <div class="c-item2 col-xs-12 col-sm-6 col-md-3 col-lg-2">
                            <div class="gutter">
                                <div class="c-item2__image">
                                    <img src="./assets/img/films/movies01.jpg" alt="">
                                    <div class="is-hover">
                                        <div class ="c-item2__hover u-flex u-a-center u-between">
                                            <div class="c-resolution">
                                                1080
                                                <span>HD</span>
                                            </div>
                                            <div class="c-rated">
                                                5.7
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-item2__info">
                                 
                                    <span class="c-item2__minute">
                                        190 min,
                                    </span>
                                    <span class="c-item2__cat">
                                        Romance
                                    </span>
                                    <span class="c-item2__age">PG13</span>
                                </div>
                                <a href="single-movie.html" class="c-item2__name">Secret Michael's Staff</a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="p-movie3__controller js-related-controller">
                        <a href="#" class="p-movie3__prev js-related__prev">
                            <i class="fas fa-angle-left"></i>
                        </a>
                        <a href="#" class="p-movie3__next js-related__next">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </div> -->
                </div>
            

                <a href="#" class="c-btn c-btn--primary c-more">
                    BROWSE ALL MOVIES
                </a>
            </div>
        </section>
    </div>
</main>
<%- include('./inc/_footer.ejs')%>