//baseWidth
// $pc: 1200px;
$ipadPro: 1200px;
$ipad: 812px;
$sp: 450px;

$mainFonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$muliFont: "Muli", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
$yuminchoFont: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;

//color common
$mainColor: #e90101;
//grid
$col-grid: 12;
$gutter: 10px;
