<!--▼ Footer ▼-->
<footer class="c-footer footer ">
    <div class="p-footer ">
        <div class="l-container">
            <div class="p-footer__top u-flex u-between u-a-center">
                <a href="#" class="p-footer__logo"><img src="https://themezinho.net/digiflex/images/logo.png" alt=""></a>
                <div class="p-footer__cgnav u-flex u-a-center">
                    <a href="#" class="p-footer__socials">
                        <i class="fab fa-facebook-f"></i>
                        <p>Facebook</p>
                    </a>
                    <a href="#" class="p-footer__socials">
                        <i class="fab fa-instagram"></i>
                        <p>Instagram</p>
                    </a>
                    <a href="#" class="p-footer__socials">
                        <i class="fab fa-twitter"></i>
                        <p>Twitter</p>
                    </a>
                    <a href="#" class="p-footer__socials">
                        <i class="fab fa-google-plus-g"></i>
                        <p>Google</p>
                    </a>
                    <a href="#" class="p-footer__socials">
                        <i class="fas fa-rss"></i>
                        <p>RSS</p>
                    </a>
                </div>
            </div>
            <div class="p-footer__bottom row">
                <div class="p-footer__item col-xs-12 col-lg-4">
                    <h3>Movie Categories</h3>
                    <ul class="p-footer__breadcrumb">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Adventure</a>
                        </li>
                        <li>
                            <a href="#">Animation</a>
                        </li>
                        <li>
                            <a href="#">Comedy</a>
                        </li>
                        <li>
                            <a href="#">Crime</a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer__item col-xs-12 col-lg-4">
                    <h3>TV Series</h3>
                    <ul class="p-footer__breadcrumb">
                        <li>
                            <a href="#">Valentine Day</a>
                        </li>
                        <li>
                            <a href="#">Underrated Comedies</a>
                        </li>
                        <li>
                            <a href="#">Scary TV Series</a>
                        </li>
                        <li>
                            <a href="#">Best 2018 Documentaries</a>
                        </li>
                        <li>
                            <a href="#">Classic Shows</a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer__item col-xs-12 col-lg-4">
                    <h3>Support</h3>
                    <ul class="p-footer__breadcrumb">
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Watch on TV</a>
                        </li>
                        <li>
                            <a href="#">Help Center</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <p class="p-footer__copyright">
            Copyright © 2019, Vodi. All Rights Reserved
        </p>
    </div>
</footer>
<!--▲ Footer ▲-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="assets/vendor/slick/slick.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
</body>

</html>